@charset "UTF-8";
.header__logo {
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 10px; }
  .header__logo:hover {
    opacity: 0.6; }
  .header__logo:active {
    opacity: 0.3; }

.header__toggle {
  width: 70px;
  height: 45px;
  border: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  padding-left: 20px;
  cursor: pointer; }
  .header__toggle:active span {
    opacity: 0.3; }

.toggle__line {
  display: block;
  position: absolute;
  width: 36px;
  height: 1.5px;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
  background-color: #3b3b3b; }

.toggle__line_first {
  top: 15px; }

.toggle__line_third {
  bottom: 13px; }

.toggle_active .toggle__line_second {
  -webkit-transform: translateX(0px) rotateZ(45deg);
      -ms-transform: translateX(0px) rotate(45deg);
          transform: translateX(0px) rotateZ(45deg);
  width: 34px;
  opacity: 0.1; }

.toggle_active .toggle__line_first {
  width: 34px;
  -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg); }

.toggle_active .toggle__line_third {
  width: 34px;
  -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg); }

.header__nav, .header__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__nav-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__link-wrapper--first {
  border-top: solid 0.5px #bbbbbb; }

.header__link-wrapper {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  border-bottom: solid 0.5px #bbbbbb;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  color: #313131;
  font-size: 18px;
  line-height: 24px; }
  .header__link-wrapper:hover {
    opacity: 0.6; }
  .header__link-wrapper:active {
    opacity: 0.3; }

.header__login {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: solid 0.5px #bbbbbb;
  background-color: #fff;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #313131;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px; }
  .header__login img {
    margin-right: 13px; }
  .header__login:hover {
    opacity: 0.6; }
  .header__login:active {
    opacity: 0.3; }

.header__user-nav {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__login--basket {
  padding-right: 13px; }
  .header__login--basket img {
    margin-right: 12px; }

.header__basket-push {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #F73A3A;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  margin-left: -20px;
  margin-top: -10px;
  margin-right: 12px; }

@media (min-width: 540px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 55px;
    max-width: 1440px;
    margin: 0 auto; }
  .header__logo {
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 0; }
  .header__logo-image {
    width: 71px;
    height: 47px; }
  .header__nav {
    padding: 0 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__toggle {
    display: none; }
  .header__nav-wrapper {
    width: 100%;
    margin-left: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__link-wrapper {
    border: none;
    font-size: 19px;
    line-height: 28px;
    font-weight: 400; }
  .header__login--basket, .header__login {
    padding-right: 0; }
    .header__login--basket img, .header__login img {
      margin-right: 0; }
  .header__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 140px; }
  .header__nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    max-width: 275px; }
  .header__login {
    height: 50px;
    border: none;
    font-size: 0px;
    line-height: 0px; }
  .login-icon {
    width: 27px;
    height: 27px; }
  .basket-icon {
    width: 30px;
    height: 30px; }
  .search-icon {
    width: 31px;
    height: 27px; }
  .header__basket-push {
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 12px;
    margin-left: -12px;
    margin-top: -10px;
    margin-right: 0px; } }

@media (min-width: 1080px) {
  .header {
    padding-left: 50px;
    padding-right: 50px; } }

.main__header {
  min-height: 300px;
  background-color: #EBE7E7;
  padding: 10px 20px 5px 20px;
  text-align: center; }

.main__h1 {
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }

.main__sofa {
  width: 100%;
  max-width: 700px; }

.form__radio {
  margin: 0 auto;
  margin-top: 20px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.custom-radio {
  position: absolute;
  z-index: 2;
  opacity: 0; }

.custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1.5px solid rgba(204, 199, 199, 0.6);
  border-radius: 50%;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: .2s all ease-out;
  -o-transition: .2s all ease-out;
  transition: .2s all ease-out;
  background-size: 50% 50%; }

.custom-radio:not(:disabled) + label:hover::before {
  background-color: rgba(204, 199, 199, 0.3); }

.custom-radio:not(:disabled) + label:hover {
  border-color: rgba(204, 199, 199, 0.6); }

.custom-radio:focus:not(:checked) + label::before {
  border-color: rgba(204, 199, 199, 0); }

.custom-radio:checked + label::before {
  background-color: rgba(204, 199, 199, 0.6);
  border: 1.5px solid rgba(204, 199, 199, 0); }

@media (min-width: 500px) {
  .main__h1 {
    padding: 10px 0 10px 0;
    font-size: 25px;
    line-height: 25px; } }

@media (min-width: 580px) {
  .main__h1 {
    padding: 20px 0 15px 0;
    font-size: 30px;
    line-height: 30px; } }

@media (min-width: 860px) {
  .main__h1 {
    font-size: 40px;
    line-height: 40px; }
  .main__header {
    padding: 10px 20px 15px 20px; } }

.categories {
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }

.categories__card-wrapper {
  max-width: 1440px;
  margin: 30px 20px 0 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px; }

.categories__card {
  background-color: #EBE7E7;
  border-radius: 5px;
  min-height: 130px; }

.categories__h2 {
  font-size: 18px;
  line-height: 50px; }

.categories__image--light {
  margin-top: 10%;
  width: 60%; }

.categories__image--chair {
  width: 100%; }

.categories__image--bed {
  width: 90%; }

.categories__image--couch {
  width: 100%; }

.categories__link {
  grid-column-start: 1;
  grid-column-end: 3;
  text-decoration: none;
  color: #313131; }

@media (min-width: 500px) {
  .categories__card-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px; }
  .categories__link {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 45%; } }

@media (min-width: 900px) {
  .categories__card-wrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px; }
  .categories__h2 {
    font-size: 25px;
    line-height: 60px; }
  .categories__link {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 20px;
    font-size: 22px; } }

@media (min-width: 1160px) {
  .categories__h2 {
    font-size: 30px; }
  .categories__link {
    font-size: 25px; }
  .categories__card-wrapper {
    margin: 0 auto;
    margin-top: 110px;
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px; } }

.sale {
  width: 100%;
  max-width: 1440px; }

.sale__h2 {
  text-align: center;
  margin-bottom: 20px; }

.sale__card-wrapper {
  margin: 0 auto;
  padding: 0 20px 0 20px; }

.sale__card {
  margin-top: 20px;
  display: grid;
  text-align: center;
  margin-bottom: 20px; }

.sale__image--1 {
  width: 85%;
  margin: 0 auto; }

.sale__image--2 {
  width: 85%;
  margin: 0 auto; }

.sale__image--3 {
  width: 85%;
  margin: 0 auto; }

.sale__image--4 {
  width: 40%;
  margin: 0 auto; }

.sale__sale-mark {
  width: 25px;
  height: 25px;
  font-size: 10px;
  font-weight: 400;
  line-height: 25px;
  border-radius: 50%;
  background-color: #7D7C7C;
  margin-left: 85%;
  text-align: center; }

.rating-area {
  padding-top: 20px;
  padding-bottom: 15px;
  overflow: hidden;
  width: 100px;
  margin: 0 auto; }

.rating-area:not(:checked) > input {
  display: none; }

.rating-area:not(:checked) > label {
  float: right;
  width: 20px;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  color: #EBE7E7; }

.rating-area:not(:checked) > label:before {
  content: '★'; }

.rating-area > input:checked ~ label {
  color: #EAC543; }

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #EAC543; }

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #EAC543; }

.rate-area > label:active {
  position: relative; }

.sale__name {
  line-height: 30px; }

.sale__price-cell {
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sale__old-price {
  text-decoration: line-through; }

.sale__more {
  margin-top: 20px;
  color: #313131;
  display: block;
  text-align: center; }

.sale__sale-mark--2 {
  margin-left: 75%; }

.sale__sale-mark--3 {
  margin-left: 65%; }

.sale__sale-mark--4 {
  margin-left: 57%; }

.new__mark {
  background-color: #FF7373; }

.hit__mark {
  background-color: #FFB673; }

.hit__price {
  padding-left: 35%; }

@media (min-width: 500px) {
  .sale {
    margin-top: 50px; }
  .sale__card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; }
  .sale__h2 {
    grid-column-start: 1;
    grid-column-end: 2; }
  .sale__image-wrapper {
    height: 80%;
    max-height: 300px; }
  .sale__image--1 {
    max-width: 260px;
    max-height: 260px;
    padding-top: 20px; }
  .sale__image--2 {
    max-width: 250px;
    max-height: 250px; }
  .sale__image--3 {
    max-width: 270px;
    max-height: 270px;
    padding-top: 20px; }
  .sale__image--4 {
    width: 45%;
    max-width: 133px;
    max-height: 250px; }
  .sale__more {
    margin-top: 6px;
    grid-area: 1 / 2 / 2 / 2;
    font-size: 16px;
    margin-left: auto; } }

@media (min-width: 900px) {
  .sale {
    margin-top: 70px; }
  .sale__h2 {
    margin-left: 34%;
    font-size: 25px;
    grid-area: 1 / 1 / 1 / 4; }
  .sale__more {
    margin-top: 6px;
    grid-area: 1 / 4 / 2 / 5;
    font-size: 16px;
    margin-left: auto; }
  .sale__card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px; }
  .sale__image--3 {
    padding-top: 25px;
    width: 90%; }
  .sale__image--4 {
    width: 45%;
    max-width: 153px;
    max-height: 270px; } }

@media (min-width: 1160px) {
  .sale {
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 50px 0 50px; } }

.best {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px; }

.best__card-wrapper {
  margin: 0 auto;
  max-width: 1440px; }

.best__card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
  margin: 0 auto;
  width: 70%;
  min-height: 200px;
  background-color: #EBE7E7;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px; }

.best__h3 {
  font-size: 18px; }

.best__image--1 {
  margin-top: 20px;
  width: 70%;
  margin-left: 30%; }

.best__image--2 {
  margin-top: 15px;
  margin-right: 25%;
  width: 55%; }

.best__h3--2 {
  padding-top: 10px; }

.best__h3--3 {
  z-index: 2;
  position: relative;
  text-align: right;
  padding-right: 5%;
  padding-top: 20px; }

.best__image--3 {
  z-index: 1;
  width: 55%;
  margin-right: 40%;
  margin-top: -40px; }

@media (min-width: 500px) {
  .best__card {
    width: 90%; }
  .best__card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .best__card--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%; }
  .best__image--3 {
    width: 55%;
    margin-top: -80px; } }

@media (min-width: 900px) {
  .best {
    margin-top: 70px; }
  .best__card {
    width: 80%; }
  .best__card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .best__card--3 {
    grid-column-start: 3;
    grid-column-end: 4; }
  .best__image--3 {
    width: 65%; } }

@media (min-width: 1180px) {
  .best__h3 {
    font-size: 20px; } }

.main__pre-advantages {
  height: 15px;
  width: 100%;
  margin-top: 25px;
  background-color: #EBE7E7; }

.advantages {
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 30px;
  margin-bottom: 30px; }

.advantages__list {
  text-align: center;
  list-style: none;
  display: grid;
  grid-gap: 20px; }

.advantages__img {
  margin-bottom: 10px; }

@media (min-width: 500px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    width: 95%;
    margin: 0 auto; }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .advantages__img {
    margin-right: 7%; }
  .advantages__description {
    font-size: 15px;
    line-height: 18px; } }

@media (min-width: 1280px) {
  .advantages__list {
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.page-footer {
  background-color: #EBE7E7;
  width: 100%;
  padding: 30px 0 20px 0; }

.footer__wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px; }

.footer__email {
  grid-column-start: 1;
  grid-column-end: 3; }

.footer__email-description {
  font-size: 15px;
  line-height: 18px;
  max-width: 390px;
  margin: 0 auto; }

.footer__input-wrapper {
  max-width: 401px;
  margin: 0 auto;
  margin-top: 20px;
  height: 44px;
  background-color: #CCC7C7; }

.footer__input {
  width: 100%;
  height: 34px;
  background-color: #CCC7C7;
  border: none;
  text-align: center;
  color: #313131; }

.footer__input-line {
  border: none;
  height: 0.5px;
  width: 90%;
  margin-left: 5%;
  background-color: #313131; }

.footer__button {
  max-width: 401px;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  border: none;
  width: 100%;
  height: 44px;
  text-align: center;
  background-color: #CCC7C7;
  color: #313131; }

.footer__link-list {
  list-style: none;
  margin: 0 auto; }

.footer__link-item:hover {
  opacity: 0.6; }

.footer__link-item:active {
  opacity: 0.3; }

.footer__link {
  color: #313131;
  text-decoration: none;
  line-height: 25px;
  font-weight: 400; }

.footer__contacts-list {
  width: 105%;
  list-style: none;
  font-size: 16px;
  margin: 0 auto; }

.footer__contacts-item {
  margin-bottom: 10px; }

@media (min-width: 900px) {
  .footer__wrapper {
    grid-template-columns: 63% 35%;
    grid-column-gap: 2%; }
  .footer__email {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: auto; }
  .footer__link-list {
    max-width: 500px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__contacts-list {
    width: 100%;
    max-width: 700px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .footer__contacts-item--adr {
    grid-column-start: 1;
    grid-column-end: 3; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.page {
  background-color: #fff;
  color: #313131; }
