.main__pre-advantages{
    height: 15px;
    width: 100%;
    margin-top: 25px;
    
    background-color: #EBE7E7;
}

.advantages{
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.advantages__list{
    text-align: center;
    list-style: none;
    display: grid;
    grid-gap: 20px;
}

.advantages__img{
    margin-bottom: 10px;
}

@media (min-width: 500px){

    .advantages__list{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 40px;
        width: 95%;
        margin: 0 auto;
    }

    .advantages__item{
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: center;
    }

    .advantages__img{
        margin-right: 7%;
    }

    .advantages__description{
        font-size: 15px;
        line-height: 18px;
    }
}

@media (min-width: 1280px){
    .advantages__list{
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}