.page-footer{
    background-color: #EBE7E7;
    width: 100%;
    padding: 30px 0 20px 0;
}

.footer__wrapper{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

.footer__email{
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer__email-description{
    font-size: 15px;
    line-height: 18px;
    max-width: 390px;
    margin: 0 auto;
}

.footer__input-wrapper{
    max-width: 401px;
    margin: 0 auto;
    margin-top: 20px;
    height: 44px;
    background-color: #CCC7C7;
}

.footer__input{
    width: 100%;
    height: 34px;
    background-color: #CCC7C7;
    border: none;
    text-align: center;
    color: #313131;
}

.footer__input-line{
    border: none;
    height: 0.5px;
    width: 90%;
    margin-left: 5%;
    background-color: #313131;
}

.footer__button{
    max-width: 401px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    border: none;
    width: 100%;
    height: 44px;
    text-align: center;
    background-color: #CCC7C7;
    color: #313131;
}

.footer__link-list{
    list-style: none;
    margin: 0 auto;
}

.footer__link-item{
    &:hover{
        opacity: 0.6;
      }
      &:active{
          opacity: 0.3;
        
      }
}

.footer__link{
    color: #313131;
    text-decoration: none;
    line-height: 25px;
    font-weight: 400;
}

.footer__contacts-list{
    width: 105%;
    list-style: none;
    font-size: 16px;
    margin: 0 auto;
}

.footer__contacts-item{
    margin-bottom: 10px;
}

@media (min-width: 900px){

    .footer__wrapper{
        grid-template-columns: 63% 35%;
        grid-column-gap: 2%;
    }
    .footer__email{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin-left: auto;
    }

    .footer__link-list{
        max-width: 500px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__contacts-list{
        width: 100%;
        max-width: 700px;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer__contacts-item--adr{
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

