.main__header{
    min-height: 300px;
    background-color: #EBE7E7;
    padding: 10px 20px 5px 20px;
    text-align: center;
}

.main__h1{
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.main__sofa{
    width: 100%;
    max-width: 700px;
}

.form__radio{
    margin: 0 auto;
    margin-top: 20px;
    width: 72px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .custom-radio {
    position: absolute;
    z-index: 2;
    opacity: 0;
  }
  
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid rgba(204, 199, 199, 0.6);
    border-radius: 50%;
    margin-right: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .2s all ease-out;
    background-size: 50% 50%;
  }
  
  .custom-radio:not(:disabled)+label:hover::before {
    background-color: rgba(204, 199, 199, 0.3);
  }

  .custom-radio:not(:disabled)+label:hover{
    border-color: rgba(204, 199, 199, 0.6);
  }
  
  .custom-radio:focus:not(:checked)+label::before {
    border-color: rgba(204, 199, 199, 0.0);
  }
  
  .custom-radio:checked+label::before {
    background-color: rgba(204, 199, 199, 0.6);
    border: 1.5px solid rgba(204, 199, 199, 0);
  }

  @media (min-width: 500px){
    .main__h1{
        padding: 10px 0 10px 0;
        font-size: 25px;
        line-height: 25px;
    }
  }

  @media (min-width: 580px){
    .main__h1{
        padding: 20px 0 15px 0;
        font-size: 30px;
        line-height: 30px;
    }
  }

  @media (min-width: 860px){
    .main__h1{
        font-size: 40px;
        line-height: 40px;
    }

    .main__header{
        padding: 10px 20px 15px 20px;
    }
  }