.sale{
    width: 100%;
    max-width: 1440px;
}

.sale__h2{
    text-align: center;
    margin-bottom: 20px;
    
}

.sale__card-wrapper{
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.sale__card{
    margin-top: 20px;
    display: grid;
    text-align: center;
    margin-bottom: 20px;
}

.sale__image--1{
    width: 85%;
    margin: 0 auto;
}

.sale__image--2{
    width: 85%;
    margin: 0 auto;
}

.sale__image--3{
    width: 85%;
    margin: 0 auto;
}

.sale__image--4{
    width: 40%;
    margin: 0 auto;
}

.sale__sale-mark{
    width: 25px;
    height: 25px;
    font-size: 10px;
    font-weight: 400;
    line-height: 25px;
    border-radius: 50%;
    background-color: #7D7C7C;
    margin-left: 85%;
    text-align: center;
}

.rating-area {
    padding-top: 20px;
    padding-bottom: 15px;
      overflow: hidden;
      width: 100px;
      margin: 0 auto;
  }
  
.rating-area:not(:checked) > input {
      display: none;
  }
  
  .rating-area:not(:checked) > label {
    float: right;
      width: 20px;
      padding: 0;
      cursor: pointer;
      font-size: 20px;
      line-height: 20px;
      color: #EBE7E7;
  }
  
  .rating-area:not(:checked) > label:before {
      content: '★';
  }
  
  .rating-area > input:checked ~ label {
      color: #EAC543;
  }
  
  .rating-area:not(:checked) > label:hover,
  .rating-area:not(:checked) > label:hover ~ label {
      color: #EAC543;
  }
  
  .rating-area > input:checked + label:hover,
  .rating-area > input:checked + label:hover ~ label,
  .rating-area > input:checked ~ label:hover,
  .rating-area > input:checked ~ label:hover ~ label,
  .rating-area > label:hover ~ input:checked ~ label {
      color: #EAC543;
  }
  
  .rate-area > label:active {
      position: relative;
  }

  .sale__name{
      line-height: 30px;
  }

  .sale__price-cell{
      margin: 0 auto;
      margin-top: 20px;
      width: 150px;
      display: flex;
      justify-content: space-between;
  }

  .sale__old-price{
      text-decoration: line-through;
  }

.sale__more{
      margin-top: 20px;
      color: #313131;
      display: block;
      text-align: center;
}

.sale__sale-mark--2{
    margin-left: 75%;
}

.sale__sale-mark--3{
    margin-left: 65%;
}

.sale__sale-mark--4{
    margin-left: 57%;
}

.new__mark{
    background-color: #FF7373;
}

.hit__mark{
    background-color: #FFB673;
}

.hit__price{
    padding-left: 35%;
}

@media (min-width: 500px){
    .sale{
        margin-top: 50px;
    }

    .sale__card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    .sale__h2{
        grid-column-start: 1;
    grid-column-end: 2;
    }

    .sale__image-wrapper{
        height: 80%;
        max-height: 300px;
    }

    .sale__image--1{
        max-width: 260px;
        max-height: 260px;
        padding-top: 20px;
    }
    
    .sale__image--2{
        max-width: 250px;
        max-height: 250px;
        }
    
    .sale__image--3{
        max-width: 270px;
        max-height: 270px;
        padding-top: 20px;
    }
    
    .sale__image--4{
        width: 45%;
        max-width: 133px;
        max-height: 250px;
    }

    .sale__more{
        margin-top: 6px;
        grid-area: 1 / 2 / 2 / 2;
        font-size: 16px;
        margin-left: auto;
      }
}

@media (min-width: 900px){
    .sale{
        margin-top: 70px;
    }

    .sale__h2{
        margin-left: 34%;
        font-size: 25px;
        grid-area: 1 / 1 / 1 / 4;
    }

    .sale__more{
        margin-top: 6px;
        grid-area: 1 / 4 / 2 / 5;
        font-size: 16px;
        margin-left: auto;
      }
    .sale__card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }

    .sale__image--3{
        padding-top: 25px;
        width: 90%;
    }

    .sale__image--4{
        width: 45%;
        max-width: 153px;
        max-height: 270px;
    }

    
}

@media (min-width: 1160px){
    .sale{
        margin: 0 auto;
        margin-top: 70px;
        padding: 0 50px 0 50px;
    }
}